body {
    background: url('../assets/images/body_bg.jpg') no-repeat;
    background-size: cover;
}
.counting_number {
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


span#counting-box {
    height: 100px;
    border-radius: 50%;
    width: 100px !important;
    background: #009688 !important;
    border: 1px solid #009688;
    margin-bottom: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #fff;
}
.counting-button button {
    padding: 10px 30px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    border-radius: 0;
}
.btn-primary {
    color: #fff;
    background-color: #352d30;
    border-color: #00bcd4;
}
.btn-primary:focus {
    box-shadow:0 !important;
}
.btn:focus {
  outline: none;
  box-shadow:0 !important;
}

@media(min-width:320px) and (max-width:576px){
    body{
        background-position:right;
    }
}
